<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/get-data-from-url']" routerLinkActive="router-link-active">
      Get Data From Url</a>
      <a mat-list-item [routerLink]="['/basic-crud-rest-api']" routerLinkActive="router-link-active">
        Basic Crud Rest Api</a>
        <a mat-list-item [routerLink]="['/basic-form-crud']" routerLinkActive="router-link-active">
          Basic Form Crud</a>
      <a mat-list-item [routerLink]="['/component-communication']" routerLinkActive="router-link-active">
      Component Communication</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>codebank</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
